[Desktop Entry]
Type=Application
Name=Notes
Comment=Simple gtk notepad
Exec=Notes %f
Icon=Notes
Terminal=false
MimeType=text/plain
Categories=Gtk;Utility;TextEditor;
