[Desktop Entry]
Type=Application
Name=Janus
Comment=Simple Linux notepad
Comment[es]=Bloc de notas Linux sencillo
Comment[fr]=Bloc-notes Linux simple
Comment[tr]=Basit Linux not defteri
Exec=janus %f
Icon=dev.pantheum.janus
Terminal=false
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
