[Desktop Entry]
Type=Application
Name=Janus
Comment=Simple text editor
Comment[es]=Editor de texto simple
Comment[fr]=Éditeur de texte simple
Comment[tr]=Basit metin düzenleyici
Exec=janus %f
Icon=dev.pantheum.janus
Terminal=false
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
