[Desktop Entry]
Type=Application
Name=Notes
Comment=Simple gtk notepad
Comment[fr]=Bloc-notes GTK simple
Exec=notes %f
Icon=notes
Terminal=false
MimeType=text/plain
Categories=GTK;Utility;TextEditor;
